/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;

}

.container {
  width: 1280px;
  margin: 0 auto;

  
}

.main-header {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
}
.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrapper {
  float: left;
}

.main-header-title {
  margin: 0;
  font-family: Arial;
  color:  #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.color-txt {
  color: red;
}

.main-header-list {
  list-style-type: none;
  font-family: Arial;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 36px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list-item {
  position: relative;
}

.main-header-list-item:before {
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  /* border: 1px solid white; */
  position: absolute;
  top: 7px;
  left: -37px;
  
  background-image: url('../img/check_icon.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header-product-photo {
  display: block;
  background-color:  #ffffff;
  width: 469px;
  height: 214px;
  float: right;
}

.about-product {
  width: 100%;
  min-height: 323px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-product-desc {
      float: left;
    width: 665px;
}
.about-product-title {
  display: block;
  margin: 0 0 24px 0;
  font-size: 30px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.2;
  font-weight: normal;
}
.about-product-text {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;

}


.about-product-video {
    background-image: url('../img/video.jpg');
    float: right;
}

.dignity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 100%;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f5f5f5;

}

.dignity-title {
  display: block;
  width: 100%;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
    font-weight: normal;
}

.dignity-list-wrapper {
  width: 50%;
}

.dignity-list {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0 0 0 35px;
  box-sizing: border-box;

}

.dignity-list-title {
  outline: none;
  position: relative;
    font-size: 16px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

.dignity-list-title::-webkit-details-marker {
  display: none
}

.dignity-list-title:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  text-align: center; 
  color: #fff;
  font-size: 1.7em; 
    line-height: 1.2;
  font-weight: bold;
  background-color: #445161;
  position: absolute;
  top: 2px;
  left: -35px;
}

details[open] .dignity-list-title:before {
  content: "-";
    line-height: 1;
}

/* .dignity-list:nth-child(4),
.dignity-list:nth-child(5) {
  margin-bottom: 0;
} */

.dignity-list-wrapper:nth-child(3) > .dignity-list:nth-child(3), 
.dignity-list-wrapper:nth-child(4) > .dignity-list:nth-child(3){
  margin-bottom: 0;
}


/* .dignity-list > p {
  
} */

.dignity-list-title + p {
  color: black;
  font-family: Arial;
  font-size: 18px;
/*   line-height: 25px; */
}

.screenshots {
        width: 100%;
    /* height: 300px; */
    padding: 50px;
    background-color: #fff;
    box-sizing: border-box;
}
.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots-title {
        display: block;
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
    font-weight: normal;
}

.screenshots-blok {
    width: 590px;
    float: left;
    margin: 11px 0 5px 0 ;
    
}

.screenshots-img {
    display: block;
    float: left;
    margin-top: 5px;
}

.screenshots-small {
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
}

.screenshots-blok-title {

  font-size: 24px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  line-height: 1.25;
  text-align: left;
  font-weight: normal;
    margin: 0;


}

.screenshots-blok-text {

  font-size: 15px;
  font-family: "Arial";
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;
  margin: 10px 0 0 0;


}



.reviews {
      display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}


.reviews-title {
      display: block;
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-style: normal;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
    font-weight: normal;

}

.reviews-item {
      width: 50%;
  padding: 10px;
  margin: 0 0 10px 0;
  min-height: 60px;

  box-sizing: border-box;
}
.reviews-item:nth-child(4),
.reviews-item:nth-child(5) {
  margin: 0;
}

.review-item {
    /*  width: 400px; */
  padding: 10px;
  margin: 0 0 0 100px;
  box-sizing: border-box;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
}
.reviews-item img {
    float: left;
    margin: 15px 0 0 0;
}
.review-item:before {
  content: "";
  position: absolute;
  top: 35px;
  left: -30px; 
  border: 15px solid transparent;	
  border-right: 15px solid #ebebeb;
}

.review-item-txt {
  margin: 0;
  font-style: italic;
  line-height: 20px;
}

.review-item-author {
  display: block;
  width: 100%;
  margin: 10px 0 0 0;
   font-size: 14px;
  font-family: "Arial";
  color: rgb(152, 152, 152);
  line-height: 1.286;
  text-align: left;
}
.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
/*  border: 1px solid black; */
}

.prices-title {
display: block;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-style: normal;
    font-size: 30px;
    font-family: "Arial";
    color: rgb(68, 81, 97);
    line-height: 1.2;
    font-weight: normal;
}

.prices-item {
  width: 25%;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  background-color: #445162;
  border: 2px solid #445162;
    border-radius: 10px;
}
.prices-item h3 {
font-weight: normal;
  font-size: 24px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.25;
    text-align: center;
     margin: 0 0 10px 0;
}
.prices-item span {
        background-color: #fff;

    text-align: center;
    display: block;

    padding: 10px;

  font-size: 40px;
  font-family: "Arial";
  color: rgb(68, 81, 98);
  line-height: 0.75;

}
.prices-item ol {

  font-size: 14px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.714;
list-style-position: inside;
   padding-left: 20px;



}
.prices-item:nth-child(2) {
  /*height: 250px;*/
  align-self: flex-end;
}

.prices-item:nth-child(3) {
/*  height: 350px;*/
  align-self: flex-end;
}

.prices-item:nth-child(4) {
/*  height: 450px; */
  align-self: flex-end;
}

.link-btn {
  display: block;
  width: 280px;
  padding: 10px;
    margin: auto;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border: 0px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
text-transform: uppercase;
  font-size: 18px;
  font-family: "Arial";
  color: rgb(68, 81, 97);
  font-weight: bold;
  line-height: 1;



}

.link-btn:focus {
    outline:none;
 /* border: 1px solid #f5f5f5*/
}

.link-btn:hover {
  background-color:#f5f5f5;
 /* border: 1px solid #f5f5f5*/
}

.link-btn:hover .link-btn-txt {
  color: black;
}

.link-btn:active {
  background-color: rgb(152, 152, 152);
    outline:none;
 /* border: 1px solid #ccc*/
}

